 .nav-links {
     display: none;
 }

 .nav-links.active {
     background-color: white;
     display: flex;
     flex-direction: column;
     height: 100%;
 }

 @media (min-width: 768px) {
    .nav-links {
            display: flex;
            padding: 0;
            margin: 0;
    
            .nav-link {
                font-family: 'Poppins', sans-serif;
                text-decoration: none;
                padding: 1rem;
                color: #E0E1DD;
            }
        }
 }