body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // background-image: linear-gradient(#17003C, #2A004A);
}

#root {
    display:flex;
    flex-direction: column;
    padding-left: 7rem;
    padding-right: 7rem;
    height: 100vh;
    background-image: linear-gradient(#17003C,#2A004A);
    color: white;
}